.donors-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btns {
    display: flex;
    gap: 10px;
    margin-right: 10px;
}

button {
    font-size: 16px;
    padding: 5px 10px 0px;
    margin: 0;
}

.widgets {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}


.donor-table-activity {
    border: 3px solid rgb(0, 63, 92);
    height: 572px;
    width: auto;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    padding-right: 5px;
    
    app-table {
        width: 1000px;
        max-height: 572px;
    }
    .donor-activity {
        border: 3px solid purple;
        width: calc(25%);
    }
}