<div class="donors-header">
  <h1>Donors</h1>
  <div class="btns">
    <button mat-fab extended (click)="openFileImportDialog()">
      <mat-icon>library_add</mat-icon>
      Bulk Import
    </button>
    <button mat-fab extended [disabled]="true">
      <mat-icon>file_download</mat-icon>
      Export Data
    </button>
  </div>
</div>

<div class="widgets">
    <app-widgets 
    *ngFor="let item of topWidgets"
    [header] = "item.header"
    [icon]="item.icon"
    [stats]="item.stats"
    [title]="item.title"></app-widgets>
</div>

<div class="donor-table-activity">
        <app-table 
        [links]="links" 
        [tableTitle]="tableTitle" 
        [isLoading]="isLoading">
      </app-table>
    <div class="donor-activity">
        activity
    </div>
</div>
