.donors-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btns {
    display: flex;
    gap: 10px;
    margin-right: 10px;
}

button {
    font-size: 16px;
    padding: 5px 10px 0px;
    margin: 0;
}

.widgets {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}


.donor-table-activity {
    border: 3px solid rgb(0, 63, 92);
    display: flex;
    gap: 10px;
    // height: calc(67% - 150px);
    justify-content: space-between;
    padding-right: 5px;
    .donor-table {
        border: 3px solid red;
        height: 100%;
        width: calc(75% - 20px);
    }
    .donor-activity {
        border: 3px solid purple;
        width: calc(25% - 20px);
    }
}