<div class="inventory-header">
    <h1>Inventory</h1>
    <div class="btns">
        <button mat-fab extended>
            <mat-icon>library_add</mat-icon> 
            Bulk Import
        </button>
        <button mat-fab extended>
            <mat-icon>file_download</mat-icon>
            Export Data
        </button>
    </div>
</div>

<div class="inventory-stats">
    <div class="inventory-tables">
        <div class="inven-table-header">
            <h3>Inventory Table by Type: </h3>
            <div class="btns">
                <button mat-raised-button>Laptop</button>
                <button mat-raised-button>Desktop</button>
                <button mat-raised-button>Misc.</button>
            </div>
        </div>
        <hr>
    </div>
    <div class="recent-activity">
        <h3>Recent Activity</h3>
    </div>
</div>

