mat-card-content {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  mat-card-title {
    display: flex;
    justify-content: center;
}
  
  .chart-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  canvas {
    height: 100%;
    width: 100%;
    display: block;
    padding: 5px;
    margin: 5px;
  }
  
  