mat-card {
    display: grid;
    width: calc(100% - 20px);
    height: 125px;
    transition: box-shadow .3s;
    background-color: rgb(0, 63, 92);
    color: whitesmoke;
    margin-bottom: 20px;
    float: left;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

mat-card:hover {
    box-shadow: 0 8px 15px #f4ae46, 0 0 20px 10px #f4ae46;
    transform: translateY(-5px);
}

mat-card-header {
    display: flex;
    align-items: center;
    padding-bottom: 0;
}

mat-card-title-group {
    mat-icon {
        font-size: 32px;
        width: 32px;
        height: 32px;
        text-align: center;
    }
    mat-card-title {
        font-size: 24px;
    }
    align-items: center;
}
