.dialog-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1vw;
}

mat-dialog-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.drag-drop-zone {
    border: 2px dashed black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    height: 60%;

    .zone-icon {
        width: 75px;
        height: 75px;
        font-size: 75px;
    }

    >p {
        font-size: 16px;
    }

    >button {
        display: flex;
        align-items: center;
        width: 40%;
    }
}

.file-list-container {
    max-height: 200px;
    overflow-y: auto;
    margin-top: 10px;

}

.fixed-title { 
    position: sticky; 
    top: 0; 
    background-color: blue;
    border-radius: 10px;
    z-index: 1; 
    padding: 2px 0; 
    >h3 {
        padding-left: 10px;
        color: white;
    }
}


::-webkit-scrollbar {
    width: 0px;
  }


.file-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    border: 1px solid black;
    padding: 15px;
    border-radius: 5px;
    background-color: #f0f0f0;
    .close {
        background-color: red;
        color: white;
    }
}

.file-form-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
}

hr {
    margin: 2px;
}
