<div class="dashboard-header">
  <h1>Dashboard</h1>
</div>

<div class="top-widgets">
  <app-widgets
    *ngFor="let widget of topWidgets"
    [header]="widget.header"
    [icon]="widget.icon"
    [stats]="widget.stats"
    [title]="widget.title"
  ></app-widgets>
</div>


  <div class="widget-container">
    <mat-card class="line-graph">
      <mat-card-title> Operations Summary </mat-card-title>
      <app-line-graph></app-line-graph>
    </mat-card>
    <mat-card class="pie-graph">
      <mat-card-title>Enagement Summary</mat-card-title>
      <app-pie-graph
        [labels]="labels"
        [data]="data"
        [legendPosition]="legendPosition">
      </app-pie-graph>
    </mat-card>
  </div>


<div class="widgets">
  <div class="widget-header">
    <h2>Workshop Info</h2>
  </div>
  <div class="widget-container">
    <div class="widget-left">
      <app-table [links]="links" [tableTitle]="tableTitle"></app-table>
    </div>
    <div class="widget-right">
      <div class="impact-card" *ngFor="let metric of impactWidget">
        <div class="icon">
          <mat-icon>{{ metric.icon }}</mat-icon> Key Metrics
        </div>
        <div class="key-metrics">
          <div class="metric">
            <span class="label">Workshops:</span>
            <span class="metric-number">{{ metric.workshops }}</span>
          </div>
          <div class="metric">
            <span class="label">Participants:</span>
            <span class="metric-number">{{ metric.participants }}</span>
          </div>
          <div class="metric">
            <span class="label">Devices:</span>
            <span class="metric-number">{{ metric.devices }}</span>
          </div>
          <div class="metric">
            <span class="label">Hours:</span>
            <span class="metric-number">{{ metric.hours }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
