<h2 mat-dialog-title>Add {{data.itemType}}</h2>
<mat-dialog-content>
   <form [formGroup]="dynamicForm">
   <div class="input-fields">
      <div *ngFor="let field of data.fields">
         <mat-form-field appearance="outline" *ngIf="field === 'status'; else otherFields">
            <mat-label>{{field.toUpperCase()}}</mat-label>
            <mat-select [formControlName]="field" >
               <mat-option *ngFor="let status of statuses" [value]="status">{{status}}</mat-option>
            </mat-select>
         </mat-form-field>
         <ng-template #otherFields>
            <mat-form-field appearance="outline">
               <mat-label>{{field.toUpperCase()}}</mat-label>
               <input matInput [formControlName]="field" required />
            </mat-form-field>
         </ng-template>
      </div>
   </div>
</form>
</mat-dialog-content>
<mat-dialog-actions align="end">
   <button mat-button mat-dialog-close>Cancel</button>
   <button mat-button [disabled]="!dynamicForm.valid" [mat-dialog-close]="dynamicForm.value">Save</button>
</mat-dialog-actions>