h2 {
    margin-bottom: 10px;
}
mat-dialog-content {
    width: 100%;
    height: 100%;
}

.input-fields {
    margin-top: 10px;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
}

mat-form-field {
    width: 100%;
}