<h2 mat-dialog-title>Add {{data.itemType}}</h2>
<mat-dialog-content>
   <div class="input-fields">
      <div *ngFor="let field of data.fields">
         <mat-form-field appearance="outline" *ngIf="field === 'status'; else otherFields">
            <mat-label>{{field.toUpperCase()}}</mat-label>
            <mat-select>
               <mat-option>Inventory</mat-option>
               <mat-option>Imaged</mat-option>
               <mat-option>Activated</mat-option>
               <mat-option>Distributed</mat-option>
               <mat-option>Recycled</mat-option>
            </mat-select>
         </mat-form-field>
         <ng-template #otherFields>
            <mat-form-field appearance="outline">
               <mat-label>{{field.toUpperCase()}}</mat-label>
               <input matInput required />
            </mat-form-field>
         </ng-template>
      </div>
   </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
   <button mat-button mat-dialog-close>Cancel</button>
   <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Save</button>
</mat-dialog-actions>